<h1> Show </h1>

<%= image_tag @portfolio_items.main_image %>

<h1>Title: <%= @portfolio_items.title %></h1>
<em>Subtitle: <%= @portfolio_items.subtitle %></em>
<p>Body: <%= @portfolio_items.body %></p>