<h1>Pages#contact</h1>
<p><%= number_to_phone "947214192" %></p>
<p><%= number_to_currency"947214192" %></p>
<p><%= number_to_percentage "80.4" %></p>
<p><%= number_with_delimiter "1258494034893843" %></p>